<section class="p-5">
    <h2 class="dancing-script text-4xl text-center">Quiénes somos</h2>
    <p class="mt-5">
        ArtEscuela Olga Aguilar es un proyecto
        donde
        queremos
        llevar
        a Pinto lo mejor de la danza y la cultura.
        Con un equipo
        de
        profesionales donde su formación es lo prinicpal para sacar al alumno lo mejor
        de él.
    </p>
    <p class="mt-5"> 
        Con todos los niveles
        y objetivos desde 
        quien empieza de Cero hasta quien
        tiene
        más nivel.
    </p>
    <p class="mt-5"> 
        Donde
        a
        Los Niños, dentro
        del programa "Pedagogía Musical", les enseñamos a amar la Danza como estilo de baile para una buena trayectoria de desarrollo como persona competente, resolutiva, equilibrada y feliz.
    </p>
    <p class="mt-5"> 
        En Adultos fomentamos la misma "Pedagogia Musical" como fenomeno socio-cultural.
    </p>
    <p class="mt-5"> 
        Como Escuela, pertenecemos a la Unesco con N° 35527.
    </p>
    <p class="mt-5">   
        <b class="underline">La Danza</b> reconocemos su carñacter Universal como forma de ARTE y como medio educativo.
    </p>
    <p class="mt-5">
        <b class="underline">EL FLAMENCO</b> Está reconocido
        por
        la Unesco como patrimonio de la Humanidad
    </p>
    <h3 class="mt-5">¡¡¡ POR ESTO Y Mucho más esta
        es tu Escuela!!!</h3>
    <h3 class="mt-5">¡¡¡DANZA, DEPORTE Y SALUD EN LA MISMA ESCUELA!!!</h3>
</section>  
