<img class="px-20" src="/assets/img/logo.svg" alt="Logo artescuela, escuela de baile en Pinto">
<div class="content-center items-center w-full">
    <h3 class="text-1xl">
        <i class="pi pi-map-marker ml-2 mt-5"></i>
        <span> Calle bla blab safdafdsfdsa</span>    
    </h3>
    <h3 class="text-1xl">
        <i class="pi pi-envelope ml-2 mt-5"></i>
        <span> baila&#64;artescuelapinto.com</span>    
    </h3>
    <h3 class="text-1xl">
        <i class="pi pi-whatsapp ml-2 mt-5"></i>
        <span> (+34) 654 827 411</span>    
    </h3>
    <h2 class="text-2xl mt-10">Síguenos en:</h2>
    <div class="grid grid-cols-1 md:grid-cols-3">
        <a class="text-1xl col-span-1" href="https://www.facebook.com/olga.artescuela" target="_blank">
            <i class="pi pi-facebook ml-2 mt-5"></i>
            <span> Facebook</span>    
        </a>
        <a class="text-1xl col-span-1" href="https://www.instagram.com/olga.artescuela?igsh=MTQ0NjU5dXhmdmQ4cw==" target="_blank">
            <i class="pi pi-instagram ml-2 mt-5"></i>
            <span> Instagram</span>    
        </a>
        <a class="text-1xl col-span-1" href="https://www.tiktok.com/@olga.artescuela?_t=8nmG0Dp8i0X&_r=1" target="_blank">
            <i class="pi pi-tiktok ml-2 mt-5"></i>
            <span> TikTok</span>    
        </a>
    </div>
</div>