<div class="container pt-1">
    <div class="flex justify-center">
        <small class="text-xs">
            © Artescuela 2024. 
            Síguenos: 
            <a href="https://www.facebook.com/olga.artescuela" target="_blank">
                <i class="pi pi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/olga.artescuela?igsh=MTQ0NjU5dXhmdmQ4cw==" target="_blank">
                <i class="pi pi-instagram ml-2 "></i>
            </a> 
            <a href="https://www.tiktok.com/@olga.artescuela?_t=8nmG0Dp8i0X&_r=1" target="_blank">
                <i class="pi pi-tiktok ml-2 "></i>
            </a> 
        </small>
    </div>
</div>

